<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
      没有声明 INTERNET 权限，这是有意的：
      这是一款纯本地阅读器，所有渲染资源都随包分发或来自本地文件，
      不声明网络权限就意味着它在系统层面无法联网。
    -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 从文件管理器等项目里"打开方式"进来。
                 不少文件管理器把 .md 报成 text/plain，所以这里一并接住；
                 代价是 .txt 也会出现在候选里，权衡后认为能被找到更重要。 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="text/markdown" />
                <data android:mimeType="text/x-markdown" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <!-- 分享文本进来 -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/markdown" />
                <data android:mimeType="text/x-markdown" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <!--
          configChanges 里带上 uiMode：系统切深色时不让 Activity 重建，
          这样阅读位置不会被重置，页面自身会收到回调换色。
        -->
        <activity
            android:name=".ReaderActivity"
            android:exported="false"
            android:configChanges="uiMode|orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden"
            android:theme="@style/ReaderTheme" />
    </application>

</manifest>
